body {
  font-size: 18px;
  font-family: "Hanken Grotesk", sans-serif;
}

h1 {
  font-size: 18px;
}

mark {
  background: none;
  color: hsla(0, 0%, 0%, 0.5);
}

.container {
  background-color: white;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.article {
  width: auto;
  height: auto;
  border-radius: 20px;
  display: flex;
  flex-direction: row;
  box-shadow: 10px 10px 30px rgba(0, 0, 0, 0.1);
}

.blur {
  color: hsla(0, 0%, 100%, 0.7);
}

.left-box {
  background: linear-gradient(hsl(252, 100%, 67%), hsl(241, 81%, 54%));
  width: 300px;
  height: 400px;
  display: grid;
  grid-template-columns: 210px;
  grid-template-rows: 20% 40% 10% 30%;
  justify-content: center;
  justify-items: center;
  align-items: center;
  text-align: center;
  border-radius: 20px;
  color: white;
}

.circle {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  background: linear-gradient(hsla(256, 72%, 46%), hsla(241, 72%, 46%, 0));
}

.big-number {
  font-size: 50px;
  font-weight: 800;
  margin: 25px 0 0 0;
}

.total {
  margin: 0;
  font-size: 15px;
  color: hsla(0, 0%, 100%, 0.3);
}

.note {
  font-size: 15px;
}

.right-box {
  width: 300px;
  height: 400px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  font-size: 13px;
}

.summary {
  margin: 8px 0 0 30px;
  align-self: flex-start;
  font-size: 18px;
}

.rectangle {
  height: 40px;
  width: 240px;
  border-radius: 10px;
  padding: 0 15px;
  display: grid;
  grid-template-columns: 15% 60% 30%;
  grid-template-rows: 100%;
  justify-items: flex-start;
  align-items: center;
  font-size: 15px;
}

.reaction {
  background: hsla(0, 100%, 67%, 0.1);
}

.memory {
  background: hsla(39, 100%, 56%, 0.1);
}

.verbal {
  background: hsla(166, 100%, 37%, 0.1);
}

.visual {
  background: hsla(234, 85%, 45%, 0.1);
}

.btn {
  height: 40px;
  width: 240px;
  margin: 10px;
  border: 0;
  border-radius: 20px;
  background: hsl(224, 30%, 27%);
  color: white;
}

.btn:hover {
  background: linear-gradient(hsl(252, 100%, 67%), hsl(241, 81%, 54%));
}

@media screen and (max-width: 375px) {
  .article {
    width: auto;
    height: auto;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    box-shadow: 10px 10px 30px rgba(0, 0, 0, 0.1);
  }
}
